.table {
  table-layout: fixed;
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  overflow: auto;
}

.table th, .table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  max-width: 200px; /* Ajuste este valor como necessário */
  overflow: auto; /* Faz aparecer uma barra de rolagem se o conteúdo da célula for muito grande */
}

.table th {
  background-color: #1A6F45;
  color: white;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  color: white;
}

.table button:hover {
  opacity: 0.7;
}

.editButton {
  background-color: #1A6F45;
}

.saveButton {
  background-color: #1A6F45;
}

.cancelButton {
  background-color: #FF0000;
}
.button {
  background-color: #1A6F45; /* Verde */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
}

